<launch>   
  <arg name="multi_robot"               default="robot_0"/>
  <arg name="frame_id_global"           default="map"/>
  <arg name="frame_id_odom"             default="$(arg multi_robot)/odom"/>
  <arg name="frame_id_robot_base"       default="$(arg multi_robot)/base_footprint"/>
  <arg name="frame_id_scan"             default="$(arg multi_robot)/base_scan"/>
  <arg name="frame_id_cloud"            default="$(arg multi_robot)/camera_rgb_optical_frame"/>
  <arg name="topic_scan"                default="/$(arg multi_robot)/scan"/>
  <arg name="topic_cloud"               default="/$(arg multi_robot)/camera/depth/points"/>
  <arg name="topic_depth"               default="/$(arg multi_robot)/camera/depth/image_raw"/>
  <arg name="topic_info"                default="/$(arg multi_robot)/camera/depth/camera_info"/>
  <arg name="topic_cloud_downsample"    default="$(arg topic_cloud)/downsample"/>
  <arg name="topic_cloud_ground"        default="$(arg topic_cloud)/ground"/>
  <arg name="topic_cloud_obstacles"     default="$(arg topic_cloud)/obstacles"/>
  <arg name="file_global_planner"       default="$(find test_pkg)/config/global_planner.yaml"/>

  <group ns = "$(arg multi_robot)">
  
    <!-- <include file="$(find potbot_example)/launch/navigation/pcl.launch">
      <arg name="frame_id_robot_base"     value="$(arg frame_id_robot_base)"/>
      <arg name="topic_depth"             value="$(arg topic_depth)"/>
      <arg name="topic_info"              value="$(arg topic_info)"/>
      <arg name="topic_cloud_downsample"  value="$(arg topic_cloud_downsample)"/>
      <arg name="topic_cloud_ground"      value="$(arg topic_cloud_ground)"/>
      <arg name="topic_cloud_obstacles"   value="$(arg topic_cloud_obstacles)"/>
    </include> -->
  
    <!-- <include file="$(find potbot_example)/launch/navigation/global_planner.launch">
      <arg name="file_global_planner"     value="$(arg file_global_planner)"/>
      <arg name="frame_id_global"         value="$(arg frame_id_global)"/>
  
      <arg name="topic_cloud"             value="$(arg topic_cloud_obstacles)"/>
      <arg name="frame_id_cloud"          value="$(arg frame_id_cloud)"/>
  
      <arg name="topic_scan"              value="$(arg topic_scan)"/>
      <arg name="frame_id_scan"           value="$(arg frame_id_scan)"/>
  
      <arg name="frame_id_robot_base"     value="$(arg frame_id_robot_base)"/>
    </include> -->

    <node pkg="test_pkg" type="plan" name="global_2d_planner" clear_params="true">
      <rosparam file="$(arg file_global_planner)" command="load" ns="costmap"/>
      
      <param name="costmap/global_frame"                value="$(arg frame_id_global)"/>
  
      <param name="costmap/depth_cloud/topic"           value="$(arg topic_cloud)"/>
      <param name="costmap/depth_cloud/sensor_frame"    value="$(arg frame_id_cloud)"/>
  
      <param name="costmap/lrf/topic"                   value="$(arg topic_scan)"/>
      <param name="costmap/lrf/sensor_frame"            value="$(arg frame_id_scan)"/>
  
      <param name="costmap/robot_base_frame"            value="$(arg frame_id_robot_base)"/>
    </node>

  </group>

</launch>